.mainConsejos{
    .introduccion{
        @include cont-txt;
        @include caja;
        padding: 4%;
        .txtNegrita{
            font-weight: bold;
        }
    }
    .apartado{
        @include caja;
        padding: 4%;
        .subtitulo{
            font-size: $txt-titulo;
            color: $azul-oscuro;
        }
        .listaConsejos{
            @include cont-txt;
            list-style-type: none;
        }
    }
}