.mainConsResp{
    .apartado{
        @include cont-txt;
        @include caja;
        .negrita{
            font-weight: bold;
        }
    }

    .cajaPreguntas{
        @include caja;
        .subtitulo{
        font-size: $txt-titulo;
        color: $azul-oscuro;
        text-align: center;
        }
        .listaPreguntas{
            .pregunta{
            font-size: $txt-contenido;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.2rem;
            list-style-type: none;
            margin-top: 1%;
            border-radius: 2rem;   
            }
            
        }
    }
}
