.introduccion{
    @include cont-txt;
    @include caja;
    text-align: center
}
.contenidoContacto{
    @include flex-column-center;
    margin-bottom: 5rem;
    .formulario{
        width: 80%;
        form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            fieldset{
                background-color: $amarillo-trnsp;
                width: 100%;
                border-radius: 2rem;
                border: none;
                text-align: center;
                input{
                    margin: 2%;
                    width: 90%;
                    height: 2rem;
                    background-color: $amarillo;
                    border-radius: 2rem;
                    border: solid $azul-oscuro 2px;
                    text-align: center;
                    font-family: inherit;
                    @include card-txt;
                    text-align: center;
                    &:focus{
                        border: solid $azul-oscuro 3px;
                    }
                }
                textarea{
                    height: 5rem;
                    @extend input
                }
                .boton{
                    background-color: $azul-oscuro;
                    color: $amarillo-trnsp;
                    height: 2.5rem;
                    &:hover{
                        background-color: $amarillo;
                        color: $azul-oscuro;
                        border: solid 1px $azul-oscuro;
                    }
                }
            }
        }
    }
    .redes{
        width: 80%;
        .logosRedes{
            @include flex-row-center;
            .icono{
                margin: 2rem;
                width: 7vw;
                border-radius: 1rem;
                &:hover{
                    width: 8.5vw;
                }
            }
        }
    }
}

