/* INDEX */

main{
    margin: 1em;
    .cajaEslogan{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40em;
        .eslogan{
            font-size: 8vw;
            color: $azul-oscuro;
            line-height: 6.5rem;
            text-align: left;    
            
        }
        .dibujoPlaneta{
            width: 40%;
            margin:5%;
        }
    }
    .informacion{
        .apartado{
            @include caja;
            padding: 4%;
            .subtitulo{
                font-size: $txt-titulo;
            }
            p{
                @include cont-txt;
            }
        }
    }
    .eventos{
        margin-top: 6em;
        .tituloEventos{
            font-size: $txt-titulo;
            text-align: center;
            color: $azul-oscuro;
        }
        .eventosTodos{
            @include flex-wrap-between;
            .divEvento{
                @include card;
                width: 30%;
                .imagenEvento{
                    width: 90%;
                    border-radius: 1rem;
                }
                .textoEvento{
                    @include card-txt;
                    margin: 2%;
                }    
            }
        }
    }
}