/*INDEX*/
.cajaEslogan{
    display: flex;
    align-items: center;
    .eslogan{
        font-size: $txt-enfatico;
        color: $azul-oscuro;
        letter-spacing: 1.5rem;
        line-height: 6.5rem;
        text-align: left;    
        position:relative;
    }
    .dibujoPlaneta{
        width: 30%;
    }
}
main{
    .informacion{
        .apartado{
            .subtitulo{
                font-size: $txt-titulo;
            }
            p{
                font-size: $txt-contenido;
            }
        }
    }
    .apartado{
        @include caja;
    }
}
.eventos{
    margin-top: 10%;
    .tituloEventos{
        font-size: $txt-enfatico;
        text-align: center;
        color: $azul-oscuro;
    }
    .eventosTodos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        .divEvento{
            background-color: $amarillo-trnsp;
            border-radius: 1rem;
            padding: 1%;
            margin-top: 3%;
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .imagenEvento{
                width: 98%;
                border-radius: 1rem;
            }
            .textoEvento{
                font-size: $txt-contenido;
                text-align: justify;
                margin: 2%;
            }    
        }
    }
}

