
$azul-oscuro: #5532a8;
$verde-claro: #88ea98;
$amarillo: #d8e579;
$amarillo-trnsp: rgba(216, 229, 121, 0.5);
$negro: #120e0e;


$txt-enfatico: 2.7em;
$txt-titulo: 2.5em;
$txt-contenido: 2em;
$txt-opciones:1.5em;