
$azul-oscuro: #5532a8;
$verde-claro: #88ea98;
$amarillo: #d8e579;
$amarillo-trnsp: rgba(216, 229, 121, 0.8);
$negro: #120e0e;


$txt-enfatico: 8vw;
$txt-titulo: 3vw;
$txt-contenido: 2vw;
$txt-card:1.5vw;
$txt-opciones:1vw;

