@import "variables";
@import "mixin";
@import "headerFooter";

body{
    background: linear-gradient(to bottom,  #6cdb64, #92b211);
    background-attachment: fixed;
    font-family: 'Darker Grotesque', sans-serif;
    margin: 3rem;
}

@import "index";
@import "consejos";
@import "consumoResp";
@import "productos";
@import "contacto";
@import "mediaQ";









